<h1>Edit Contact</h1>

<%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
  <h3>First Name: <input type="text" name="first_name" value="<%= @contact.first_name %>"></h3>
  <h3>Last Name <input type="text" name="last_name" value="<%= @contact.last_name %>"></h3>
  <h3>Email <input type="text" name="email" value="<%= @contact.email %>"></h3>
  <h3>Position <input type="" name="position" value="<%= @contact.position %>"></h3>
  <h3>Company <input type="" name="company" value="<%= @contact.company %>"></h3>
  <h3>Met <input type="" name="met" value="<%= @contact.met %>"></h3>
  <h3>Thanked <input type="" name="thank_you" value="<%= @contact.thank_you %>"></h3>
  <h3>Followed Up <input type="" name="followed_up" value="<%= @contact.followed_up %>"></h3>
  <h3>Notes <input type="text" name="notes" value="<%= @contact.notes %>"></h3>
  <input type="submit" value="Update">
<% end %>

