<h1>Contact Show</h1>

<h3>Name/Email: <a href="mailto:<%= @contact.email %>?Subject=Adam%20Goldwater,%20following%20up%20with%20you"><%= @contact.first_name %> <%= @contact.last_name %></a></h3>
<h3>Company: <%= @contact.company %></h3>
<h3>Met Yet? <%= @contact.met.capitalize %></h3>
<h3>Thanked Yet? <%= @contact.thank_you.capitalize %></h3>
<h3>Followed Up Yet? <%= @contact.followed_up.capitalize %></h3>
